.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  background-color: #f4f1ec;
  background-image: url("/images/smalldotsgrid.png");
  background-repeat: no-repeat;
  background-position: 37%;
}

.name {
  height: 3.5em;
  border-bottom: solid thick yellow;
}