.new-tweet-section {
  position: absolute; /* made section position absolute, in relation to parent element 'main' */
  top: 0px;
  width: 90%;
}

.compose-tweet {
  display: flex;
  justify-content: center;
}

.tweet-text {
  width: 100%;
  resize: none;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 2px solid black;
  font-size: 0.8em;
}
.tweet-button-counter {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
}
.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.15em;
}